
/* ==========================================================================
   Variables
   ========================================================================== */


:root {
  --important: #ff2700;
  --textColor: #565454;
  --mainColor: #efefef;
  --white: #fff;
}
